		@font-face {
		font-family: aurora;
		src: url(https:/dl.dropbox.com/s/v2aisx80knbp9oc/Cute_Aurora_demo.ttf);
		}

body {
  background:#ebddc9;
  background-image:url("https://danppun.neocities.org/imagenes/blog/wallpaper.jpg");
  justify-content:center;
  align-content:center;
  font-family: aurora;
}

h1 {
  font-size:45px;
  color: #a95857;
  
  text-align: center;
  font-size: auto;
  margin: 15px 0 5px 0;
}

h2, h3, a, font{
  color:#a95857;
}
.pro p {
	margin: 0px 22px;
}

h2 {
	margin-bottom: 0px;
}

a:hover {
  text-decoration:none;
}

.back {
	position:absolute;
	top:70px;
	right:300px;
	transform: scale(1.2 , 1.2);
	transition: transform 0.3s ease;
}

.back:hover{
	transform: scale(1.0, 1.0);
}

.Date{
	display:none;
	height:235px;
	width:140px;
	position:absolute;
	top:80px;
	left:200px;
	background-color:#ebddc9;
	overflow:auto;
	border-top-left-radius:10px;
	}
	
.Date p{
	  margin-left:12px;
	}

.contenido {
  overflow:auto;
  padding:13px;
  margin: 30px auto;
  
  background:#ebddc9;
  height:666px;
  width:600px;
  border-top-left-radius:60px;
}

::-webkit-scrollbar {
  width: 11px; 
  background: #ebddc9; 
}

::-webkit-scrollbar-thumb {
background-color:#a95857;
}


.log {
        display: none;
		}
	#autorun {
        display: block;
      }


#up {
background-image:url('https://danppun.neocities.org/imagenes/blog/up.gif');
background-repeat:repeat-x;
left:0;
top:0;
width:100%;
height:55px;
position: fixed;
z-index: 1;
}