body {
  margin:5 7 auto;
  background:#6a153b;
	background-image:url("https://i.pinimg.com/564x/ef/cd/15/efcd1571693deede66ff0aea0a217e55.jpg");
	color:white;
}

audio {
	position:absolute;
	right:0px;
	top:90px;
	height:30px;
	
}

audio::-webkit-media-controls-panel {
    background:#6a153b;
    color: #000;
    } 

button {
	background:#6a153b;
	color:white;
	
	width:100px;
	height:40px;
	padding:5px;
	margin-top:5px;
	margin-right:15px;
	
	text-align: center;
	font-size: 16px;
	border:none;
}

.drawing{
 display:none; 
}

.cuerpo {
	display:grid;
	grid-template-columns:730px 620px;
	
	height: 600px;
	width:1350px;
}

.choose {
	margin-left:75px;
	height:40px;
	width:1200px;
}

.izquierda {
	overflow-y: auto;
	background-image:url("https://i.pinimg.com/564x/77/02/76/7702760a6149a13e0674a19ff6207826.jpg");
	height:540px;
}

.derecha {
	overflow-y: auto;
	height:540px;

}

.derecha img{
	width:620px;
}

#artAbout {
	position:absolute;
	right:10px;
	top:40px;
	
	background:black;
	color:white;
	
	width:100px;
	height:30px;
	padding-top:9px;
	margin-top:5px;
	margin-right:15px;
	
	text-align: center;
	font-size: 16px;
}

#Home {
	position:absolute;
	right:100px;
	top:40px;
	
	background:black;
	color:white;
	
	width:100px;
	height:30px;
	padding-top:9px;
	margin-top:5px;
	margin-right:15px;
	
	text-align: center;
	font-size: 16px;
}

#Home a{
	font-family:Arial;
	text-align:center;
	text-decoration:none;
	color:white;
}

#artAbout a{
	font-family:Arial;
	text-align:center;
	text-decoration:none;
	color:white;
}

::-webkit-scrollbar {
    width: 11px;
    background: transparent;
}
	
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1096.cur), auto !important;} /* End https://www.cursors-4u.com */



