body {
  background:#edd662;
}

a{
  color:#4E387E;
}

.banner {
  margin:auto;
  align-content:center;
  
  background:#1c1c1c;
  width:800px;
  color:white;
  
  padding-bottom:5px;
  font-family:Verdana;
  font-size:14px;
}

.todo{
  margin:auto;
  
  align-content:center;
  height:1100px;
  width:1200px;
  
  display:grid;
  grid-template-columns:200px 800px 200px
}

.centro{
  display:grid;
  grid-template-columns:400px 400px;
}

.cont {
  height:510px;
}

#up {
background-image:url('/images/link/up.gif');
background-repeat:repeat-x;
left:0;
top:0;
width:100%;
height:25px;
position: fixed;
z-index: 1;
}

#down {
background-image:url('/images/link/down.png');
background-repeat:repeat-x;
left:0;
bottom:0px;
width:100%;
height:30px;
position: fixed;
z-index: 1;
}

#useful {
  column-count:2;
  height:auto;
}

  ::-webkit-scrollbar {
  width: 10px; 
  background:#1c1c1c; 
}

::-webkit-scrollbar-thumb {
background:#2262b6;
}

/* Start https://www.cursors-4u.com/ */ * {cursor: url(https://cur.cursors-4u.net/toons/too-3/too227.cur), auto !important;} /* End https://www.cursors-4u.com/ */