body {
	background-image:url(https://danppun.neocities.org/imagenes/link/background.jpg);
	background-repeat:no-repeat;
	background-size: 1368px;
	color: #1f2d2c;
	font-family: aurora;
}

h2 {
	text-align:right;
	font-family: mushin;
	margin-right:10px;
	color: #1c333f;
}
p {
	text-align:justify;
	margin-left:10px;
	margin-top:2px;
	width:530px;
}
a{
	color: #bb9253;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
audio{
 height:0.1px; 
}

a img{ 
	transform: scale(1.0 , 1.0);
			transition: transform 0.3s ease;
}

a img:hover {
	transform: scale(1.1, 1.1);
}

.table {
	background:#fafaed;
	height:660px;
	width:550px;
	margin-top:15px;
	border:2px solid #1c333f;
	position:relative;
	left:755px;
	overflow-y:auto;
}

table {
	margin-left:40px;
	text-align: right;
	width:500px;
	border-collapse: collapse;	
}
td{
	border-collapse: collapse;
	height:70px;
}

tr {
border-collapse: collapse;	
}

::-webkit-scrollbar {
  width: 0.1px; 
  background: transparent; }